version: 1
disable_existing_loggers: False

formatters:
  standard:
    format: "%(asctime)s %(levelname)s: [%(module)s.%(funcName)s:%(lineno)d]: %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: standard
    stream: ext://sys.stdout

  file:
    class: logging.FileHandler
    level: INFO
    formatter: standard
    filename: ./config/going_live.log
    encoding: utf-8

root:
  level: INFO # change this value to DEBUG for debugging messages in log
  handlers: [console, file]